<!doctype html>  
<html lang="en">  
<head>  
    <%- include("./partails/head") %>  
    <title>Bootstrap demo</title>  
</head>  
<body>  
    <%- include("./partails/nav") %>  

    <div class="mt-15 container">  
        <form method="post" action="/addBlog" enctype="multipart/form-data" >  
            <div class="input-group mb-3">  
                <label for="coverImage">Cover Image</label>  
                <div class="form-floating w-100">  
                    <input type="file" class="form-control" id="coverImage" name="coverImage" required>  
                </div>  
            </div>  
        
            <div class="form-floating mb-3">  
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>  
                <label for="title">Title</label>  
            </div>  
        
            <div class="form-floating mb-3">  
                <textarea class="form-control" placeholder="Leave a comment here" id="body" name="body" required></textarea>  
                <label for="body">Body</label>  
            </div>  
        
            <button type="submit" class="btn btn-primary">Submit</button>  
        </form>   
    </div>  

    <%- include("./partails/script") %>  
</body>  
</html>